/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Full height for body to ensure footer sticks to the bottom */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Dark mode background */
body {
    background-color: #000;  /* Pure black for the page background */
    display: flex;
    flex-direction: column;
    color: #fff;  /* Make the text white */
}

/* Footer Styling */
.footer {
    background-color: #1a1a1a;  /* Slightly lighter black for footer */
    padding: 20px;
    color: white;
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.footer-left, .footer-right {
    display: flex;
    align-items: center;
}

.footer-left a, .footer-right a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 14px;
}

.footer-right a {
    font-size: 20px;
}

.footer-left a:hover, .footer-right a:hover {
    color: #ff9800;  /* Change hover color to orange */
}

.footer-bottom {
    text-align: center;
    width: 100%;
    padding-top: 10px;
    font-size: 12px;
    color: #666;
}

.footer .fa {
    padding: 10px;
    font-size: 20px;
    color: white;
}

.footer .fa:hover {
    color: #ff9800;
}
