/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ensure the body takes the full height of the viewport */
html, body {
    height: 100%;
}

/* Flexbox on the body to ensure footer is at the bottom */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* Header Styling */
.header {
    background-color: black;
    color: white;
    font-size: 13px;
    text-align: left;
    padding: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    height: 50px;
    margin-right: 15px;
}

/* Middle Section Styling */
.middle {
    background-color: black;
    color: white;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Footer Styling */
.footer {
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 1px;
    font-size: 15px;
    display: flex;
    justify-content: flex-end; /* Align footer content to the right */
}

.footer-content {
    display: flex; /* Using Flexbox for the columns */
    gap: 20px; /* Space between columns */
    justify-content: flex-end; /* Align columns to the right */
    flex-wrap: wrap; /* Wrap the columns if there's not enough space */
    padding: 5px;
    width: 100%; /* Full width for alignment to the right edge */
    text-align: center; /* Center text inside columns */
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    text-align: center; /* Center text inside columns */
    padding: 0 10px;
    border-right: 1px solid white; /* White separator between columns */
}

.footer-content a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 1px;
    
}


.social-logo {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
